:root {
          --color-background-button-primary-default: rgb(156, 13, 53);
  --color-background-button-primary-hover: rgb(188, 16, 64);
  --color-background-button-primary-pressed: rgb(132, 11, 45);
  --color-background-button-secondary-default: rgb(48, 48, 48);
  --color-background-button-secondary-hover: rgb(68, 68, 68);
  --color-background-button-secondary-pressed: rgb(33, 33, 33);
  --color-background-primary: rgb(226, 194, 117);
  --color-background-accent: rgb(156, 13, 53);
  --color-background-secondary: rgb(48, 48, 48);
  --color-background-tertiary: rgb(246, 246, 245);
  --color-background-additional: rgb(241, 241, 241);
  --color-background-overlay: rgba(48, 48, 48, 0.4);
  --color-color-background-default: rgb(255, 255, 255);
  --color-border-default: rgb(221, 221, 221);
  --color-border-accent: rgb(48, 48, 48);
  --color-border-error: rgb(188, 16, 64);
  --color-text-default: rgb(255, 255, 255);
  --color-text-primary: rgb(48, 48, 48);
  --color-text-secondary: rgb(170, 170, 170);
  --color-text-accept: rgb(156, 13, 53);
  --color-text-error: rgb(188, 16, 64);
  --light-gray: #F6F6F5;
  --font-family-primary: GT Walsheim Pro;
  --font-family-accent: Ivy Mode;
  --font-size-h1-desktop: 56px;
  --font-size-h1-account-desktop: 44px;
  --font-size-h2-desktop: 44px;
  --font-size-h2-account-desktop: 32px;
  --font-size-h3-desktop: 32px;
  --font-size-h3-account-desktop: 28px;
  --font-size-h4-desktop: 24px;
  --font-size-h5-desktop: 18px;
  --font-size-button-desktop: 16px;
  --font-size-body-16-desktop: 16px;
  --font-size-body-18-desktop: 18px;
  --font-size-footnote-desktop: 14px;
  --font-lineheight-h1-desktop: 84px;
  --font-lineheight-h1-account-desktop: 56px;
  --font-lineheight-h2-desktop: 56px;
  --font-lineheight-h2-account-desktop: 42px;
  --font-lineheight-h3-desktop: 42px;
  --font-lineheight-h3-account-desktop: 36px;
  --font-lineheight-h4-desktop: 32px;
  --font-lineheight-h5-desktop: 28px;
  --font-lineheight-button-desktop: 24px;
  --font-lineheight-body-16-desktop: 24px;
  --font-lineheight-body-18-desktop: 28px;
  --font-lineheight-footnote-desktop: 20px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --letter-spacing-button: 1.6px;
  --text-case-uppercase: uppercase;
  --text-decoration-underline: underline;
  --border-radius-8: 8px;
  --border-radius-12: 12px;
  --border-radius-16: 16px;
  --border-radius-32: 32px;
  --border-width-10: 1px;
  --border-width-20: 2px;
  --layout-2xs: 4px;
  --layout-xs: 8px;
  --layout-sm: 12px;
  --layout-md: 16px;
  --layout-lg: 24px;
  --layout-xl: 32px;
  --layout-2xl: 40px;
  --layout-3xl: 56px;
  --layout-4xl: 64px;
  --layout-5xl: 80px;
  --layout-6xl: 96px;
      }