:root {
          --color-background-button-primary-default: #9C0D35;
  --color-background-button-primary-hover: #BC1040;
  --color-background-button-primary-pressed: #840B2D;
  --color-background-button-secondary-default: #303030;
  --color-background-button-secondary-hover: #444444;
  --color-background-button-secondary-pressed: #212121;
  --color-background-primary: #E2C275;
  --color-background-accent: #9C0D35;
  --color-background-secondary: #303030;
  --color-background-tertiary: #F6F6F5;
  --color-background-additional: #F1F1F1;
  --color-background-overlay: #30303066;
  --color-color-background-default: #FFFFFF;
  --color-border-default: #DDDDDD;
  --color-border-accent: #303030;
  --color-border-error: #BC1040;
  --color-text-default: #FFFFFF;
  --color-text-primary: #303030;
  --color-text-secondary: #AAAAAA;
  --color-text-accept: #9C0D35;
  --color-text-error: #BC1040;
  --light-gray: #F6F6F5;
  --font-family-primary: GT Walsheim Pro;
  --font-family-accent: Ivy Mode;
  --font-size-h1-desktop: 56px;
  --font-size-h1-account-desktop: 44px;
  --font-size-h2-desktop: 44px;
  --font-size-h2-account-desktop: 32px;
  --font-size-h3-desktop: 32px;
  --font-size-h3-account-desktop: 28px;
  --font-size-h4-desktop: 24px;
  --font-size-h5-desktop: 18px;
  --font-size-button-desktop: 16px;
  --font-size-body-16-desktop: 16px;
  --font-size-body-18-desktop: 18px;
  --font-size-footnote-desktop: 14px;
  --font-lineheight-h1-desktop: 84px;
  --font-lineheight-h1-account-desktop: 56px;
  --font-lineheight-h2-desktop: 56px;
  --font-lineheight-h2-account-desktop: 42px;
  --font-lineheight-h3-desktop: 42px;
  --font-lineheight-h3-account-desktop: 36px;
  --font-lineheight-h4-desktop: 32px;
  --font-lineheight-h5-desktop: 28px;
  --font-lineheight-button-desktop: 24px;
  --font-lineheight-body-16-desktop: 24px;
  --font-lineheight-body-18-desktop: 28px;
  --font-lineheight-footnote-desktop: 20px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --letter-spacing-10: 0.1px;
  --text-case-uppercase: uppercase;
  --text-decoration-underline: underline;
  --border-radius-8: 8px;
  --border-radius-12: 12px;
  --border-radius-16: 16px;
  --border-radius-32: 32px;
  --border-width-10: 1px;
  --border-width-20: 2px;
  --layout-2xs: 4px;
  --layout-xs: 8px;
  --layout-sm: 12px;
  --layout-md: 16px;
  --layout-lg: 24px;
  --layout-xl: 32px;
  --layout-2xl: 40px;
  --layout-3xl: 56px;
  --layout-4xl: 64px;
  --layout-5xl: 80px;
  --layout-6xl: 96px;
      }